# Directory for npm
node_modules/

# Environment variables
.env
.env.development
.env.production

# Debugger configurations
.idea/
.vscode/

# Build artifacts
dist/
build/
out/
coverage/

# Logs
*.log

# Temporary files
*.tmp
*.temp
tmp/
temp/

# Docker
docker-compose.override.yml
.docker/
